<h1>Cats</h1>
<% @Cats.each do |cat| %>
	<p><%= cat.name %></p>
<% end %>
<h1>Users</h1>
<% @Users.each do |user| %>
        <p><%= user.name+', '+user.email %></p>
<% end %>

<h1>Finished Tasks</h1>
<% @Finished.each do |t| %>
        <p><%= t.tasks %></p>
<% end%>

<h1>Unfinished Tasks</h1>
<% @Unfinished.each do |u| %>
        <p><%=u.tasks%></p>
<% end%>


